

# How often to reload data from the nodes
reload_interval = "10s"
# If specified, a http server will serve static content here
server_address = "0.0.0.0:8080"

[[clients]]
url = "http://localhost:8546"
name = "Local-A"

[[clients]]
url = "http://localhost:8547"
name = "Local-B"

[[clients]]
url = "http://localhost:8548"
name = "Local-C"
