

# How often to reload data from the nodes
reload_interval = "10s"
# If specified, a http server will serve static content here
server_address = "0.0.0.0:8080"

[[clients]]
url = "http://localhost:8546"
name = "geth"

[[clients]]
url = "http://localhost:8547"
name = "besu"

[[clients]]
url = "http://localhost:8548"
name = "openethereum"

[Metrics]

enabled = true
endpoint = "https://influx-database.yourdomain.io/"
username = "metrics"
database  = "metrics"
password  = "secret-password-goes-here"
namespace = "monitoring."
