

# How often to reload data from the nodes
reload_interval = "10s"
# If specified, a http server will serve static content here
server_address = "0.0.0.0:8080"

# Shown in the document title, if specified
#chain_name="Mainnet"
#chain_name="Goerli"
#chain_name="Ropsten"
#chain_name="Rinkeby"

# Third party providers
# infura_key = "your_key"
# infura_endpoint="https://mainnet.infura.io/v3/"
# alchemy_key = "your_key"
# alchemy_endpoint = "https://eth-mainnet.alchemyapi.io/v2/"
# etherscan_key = "your_key"
# etherscan_endpoint = "https://api.etherscan.io/api"


[[clients]]
  # The 'rpc' kind is a regular rpc-node
  kind="rpc"
  url = "http://localhost:8545"
  name = "geth"

[[clients]]

  kind="rpc"
  url = "http://localhost:8547"
  name = "besu"

[[clients]]

  kind="rpc"
  url = "http://localhost:8548"
  name = "openethereum"

#[[clients]]
  # The 'infura' kind needs credentials
#  kind="infura"
#  name = "infura"
  # The rate_limit is number of requests per second allowed through
#  rate_limit=5

#[[clients]]
#
#  kind="alchemy"
#  name = "alchemy"
#  rate_limit=5

[Metrics]

#enabled = true
endpoint = "https://influx-database.yourdomain.io/"
username = "metrics"
database  = "metrics"
password  = "secret-password-goes-here"
namespace = "monitoring."
